<div class="container-fluid">
  <div class="row" style="padding-top:40px;">
    <div class="col-md-2">
      <select class="form-control " ng-model="searchBy">
        <option value="">Search By</option>
        <option value="dealID">Deal Id</option>
        <option value="trxId">Transaction Id</option>
      </select>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control " ng-model="searchText">
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-default "  class="form-control" ng-click="search()">Search</button>
    </div>
  </div>
  <div class="row" style="padding-top: 40px;">
    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
            <th valign="middle" style="text-align:center;max-width:80px;font-size:12px;word-wrap: break-word">Transaction ID</th>
            <th valign="middle" style="text-align:center;max-width:100px;font-size:12px;word-wrap: break-word">Source Transaction ID</th>
            <th valign="middle" style="text-align:center;max-width:100px;font-size:12px;word-wrap: break-word">Upstream Transaction ID</th>
            <th valign="middle" style="text-align:center;max-width:100px;font-size:12px;word-wrap: break-word">Trx Header ID</th>
            <th valign="middle" style="text-align:center;max-width:100px;font-size:12px;word-wrap: break-word">Deal ID</th>
            <th valign="middle" style="text-align:center;max-width:100px;font-size:12px;word-wrap: break-word">Trx Type</th>
            <th valign="middle" style="text-align:center;max-width:100px;font-size:12px;word-wrap: break-word">Part Number</th>
            <th valign="middle" style="text-align:center;max-width:100px;font-size:12px;word-wrap: break-word">Bill To</th>
            <th valign="middle" style="text-align:center;max-width:130px;font-size:12px;word-wrap: break-word">Ship To</th>
            <th valign="middle" style="text-align:center;max-width:100px;font-size:12px;word-wrap: break-word">Sold To</th>
            <th valign="middle" style="text-align:center;max-width:100px;font-size:12px;word-wrap: break-word">Po Number</th>
            <th valign="middle" style="text-align:center;max-width:100px;font-size:12px;word-wrap: break-word" ng-show="submitShow">Agent</th>
            <th valign="middle" style="text-align:center;max-width:100px;font-size:12px;word-wrap: break-word" ng-show="submitShow">Node</th>
            <th valign="middle" style="text-align:center;max-width:180px;font-size:12px;word-wrap: break-word" ng-show="submitShow">Commissionable Agent</th>
        </thead>
        <tbody>
          <tr>
            <td style="text-align:left;font-size:10px;max-width:80px;word-wrap: break-word">{{result.trxId}}</td>
            <td style="text-align:left;font-size:10px;max-width:100px;word-wrap: break-word">{{result.srctrxId}}</td>
            <td style="text-align:left;font-size:10px;max-width:100px;word-wrap: break-word">{{result.trxUpID}}</td>
            <td style="text-align:left;font-size:10px;max-width:100px;word-wrap: break-word">{{result.trxHeaderID}}</td>
            <td style="text-align:left;font-size:10px;max-width:100px;word-wrap: break-word">{{result.dealID}}</td>
            <td style="text-align:left;font-size:10px;max-width:100px;word-wrap: break-word">{{result.trxSrcType}}</td>
            <td style="text-align:left;font-size:10px;max-width:100px;word-wrap: break-word">{{result.partNum}}</td>
            <td style="text-align:left;font-size:10px;max-width:100px;word-wrap: break-word">{{result.billCustDet}}</td>
            <td style="text-align:left;font-size:10px;max-width:130px;word-wrap: break-word">{{result.shipCustDet}}</td>
            <td style="text-align:left;font-size:10px;max-width:100px;word-wrap: break-word">{{result.soldCustDet}}</td>
            <td style="text-align:left;font-size:10px;max-width:100px;word-wrap: break-word">{{result.poNum}}</td>
            <td style="text-align:left;font-size:10px;max-width:100px;word-wrap: break-word" ng-show="submitShow">{{result.resName}}</td>
            <td style="text-align:left;font-size:10px;max-width:100px;word-wrap: break-word" ng-show="submitShow">{{result.grpName}}</td>
            <td style="text-align:left;font-size:11px;max-width:180px;word-wrap: break-word" ng-show="submitShow">{{result.agent}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-default" ng-click="submit()">Submit</button>
    </div>
    
  </div>
</div>
